/* Animacja dla kart */
@keyframes dealCards {
    0% {
        transform: translateY(-50px); /* Początkowe położenie kart */
        opacity: 0;
    }
    100% {
        transform: translateY(0); /* Końcowe położenie */
        opacity: 1;
    }
}

.card {
    background-color: var(--card-background);
    width: 100px;
    height: 100px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin: 0;

    transform: translateY(-50px); /* Początkowa pozycja poza ekranem */
    opacity: 0;
    animation: dealCards 0.5s ease-out forwards;
    animation-delay: calc(0.1s * var(--i)); /* Opoznienie dla kazdej karty */
}

.card.flipped .card-front {
    transform: rotateY(0deg);
}

.card.flipped .card-back {
    transform: rotateY(180deg);
}

.card-front {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    backface-visibility: hidden; /* Ukrywa odwrotna strone karty, gdy jest obrocona */
    transition: transform 0.8s ease-in-out; /* Plynniejszy efekt przejscia */
}

.card-front img {
    width: 75%;
    height: 75%;
}

.card-back {
    background-color: var(--card-back-background);
    color: var(--card-text-color);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back:hover {
    color: var(--card-hover);
    cursor: grab;
}

.card-back:active {
    cursor: grabbing;
}

.card-front:hover {
    cursor: grab;
}

@media (max-width: 768px) {
    .card {
        width: 80px;
        height: 80px;
    }

    .card-front img {
        width: 65%;
        height: 65%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 70px;
        height: 70px;
    }

    .card-front img {
        width: 55%;
        height: 55%;
    }
}