/* Style bazowe */
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-color-light: rgba(255, 255, 255, 0.87);
  --text-color-dark: #333;
  --primary-background: #242424;
  --card-background: #444;
  --card-front-background: #f0f8ff;
  --card-back-background: #555;
  --card-text-color: #fff;
  --card-hover: #333;
  --board-background: #333;
  --secondary-text-color: #555;
  --progress-bar-bg: #e9ecef;
  --progress-bar-success: #198754;
  --progress-bar-danger: #dc3545;
  --progress-bar-warning: #ffc107;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-background);
  color: var(--text-color-light);
}